@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');


html{
  background: #18705E;
  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  color: #27476D;
  margin-bottom: 7.5px;
  margin-top: 7.5px;
}
body {
    background: #ECEDF2;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    font-family: 'Josefin Slab', serif;
    font-size: 22px;
}
div{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Josefin Slab', serif;
}
ul {;
    list-style-type: none;
    margin: 3px;
    padding: 3px;
    width: 250px;
    font-family: 'Josefin Slab', serif;
}

li a {
    display: block;
    font-style:normal;
    color: #27476D;
    font-family: 'Josefin Slab', serif;
}
/* Change the link color on hover */
li a:hover {
color: #AC1032;
}
